/* Normalize styles */
* {
    box-sizing: border-box;
    float: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
    font-family: sans-serif, Arial, Helvetica;
}

:root {
    /* Code light theme */
    --code-bg-color: #F6F6F6;
    --code-color: #000;
    --code-comment-color: #008000;
    --code-keyword-color: #0000FF;
    --code-control-keyword-color: #8F08C4;
    --code-type-color: #2F788D;
    --code-method-color: #74531F;
    --code-args-color: #1F377F;
    --code-string-color: #A31515;
    /* --code-error-color: #ff0000;
    --code-warning-color: #008000; */
    --code-error-url: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6px' height='3px' viewBox='0 0 32 16'><path fill='none' stroke='%23ff0000' stroke-width='6px' d='M 0,8 C 4,0 12,0 16,8 20,16 28,16 32,8' /></svg>") repeat-x top left;
    --code-warning-url: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6px' height='3px' viewBox='0 0 32 16'><path fill='none' stroke='%23008000' stroke-width='6px' d='M 0,8 C 4,0 12,0 16,8 20,16 28,16 32,8' /></svg>") repeat-x top left;
    --code-font-family: 'ubuntu-mono', 'Courier New', Courier, monospace;
    --code-font-weight: normal;
    --code-link-color: #006CBE;

    /* Code dark theme */
    /* --code-bg-color: #1E1E1E;
    --code-color: #CDCDCD;
    --code-comment-color: #57A64A;
    --code-keyword-color: #569CD6;
    --code-type-color: #4BC0A8;
    --code-method-color: #D7D7A6;
    --code-args-color: #569CD6;
    --code-string-color: #B98975; */
    --code-font-family: 'ubuntu-mono', 'Courier New', Courier, monospace;
    /* --code-font-family: font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --code-font-weight: normal; */
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

html {
    height: 100%;
    width: 100%;
    min-width: 280px;
}

html, body {
    background-color:  #fff;
    min-height: 100%;
}

/* Properties set here will be for all link states unless overridden
    later through pseudo selectors which must be in the order
    link, visited, focus, hover, active*/
a {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    text-decoration: underline;
}

b, em {
    font-weight: bold;
}

i, em {
    font-style: italic;;
}

h1 {
    font-size: 22px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
}

h3, h4, .listing  {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 6px;
}

kbd {
    display: inline-block;
    padding: 3px 4px 1px 4px;
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 1px 1px #888;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
}

p {
    margin-bottom: 12px;
}

u {
    text-decoration: none;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.nowrap{
    white-space: nowrap;
}

#navbar ul{
    max-height: 200px;
    border: 1px solid #000;
    overflow: auto;
    margin-bottom: 20px;
}

#navbar header {
    text-align: center;
    margin: 10px;
}

#navbar a {
    display: block;
    margin: 10px 20px;
}

#navbar li {
    list-style-type: none;
    border-top: 1px solid #000;
}

.nav-link {
    font-size: 20px;
    color: #000;
}

.main-section {
    margin-bottom: 20px;
}

.main-section header {
    margin-bottom: 2px;
}

.back-to-top {
    display: block;
    margin-bottom: 20px;
}

.main-section li {
    margin: 10px 30px;
}

/* .nobull-li {
    list-style-type: none;
} */

u.error, u.warning {
    display: inline-block;
    position: relative;
}

u.error::after, u.warning::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 19px;
}

u.error::after {
    background: var(--code-error-url);
}

u.warning::after {
    background: var(--code-warning-url);
}

code {
    display: inline-block;
    color: var(--code-color);
    background-color: var(--code-bg-color);
    font-family: var(--code-font-family);
    padding: 1px 6px;
}

code u {
    font-size: 14px;
    font-family: var(--code-font-family);
}

code u.error::after, code u.warning::after {
    top: 17px;
}

pre {
    display: block;
    max-height: 200px;
    margin: 20px 0px;
    overflow: auto;
    color: var(--code-color);
    background-color: var(--code-bg-color);
    border-radius: 3px;
    text-align: left;
    padding: 0 3px;
}

.four-column p{
    margin-bottom: 0px;
}

.comment {
    color: var(--code-comment-color);
}

.keyword {
    color: var(--code-keyword-color);
}

.control-keyword {
    color: var(--code-control-keyword-color);
}

.type {
    color: var(--code-type-color);
}

.method {
    color: var(--code-method-color);
}

.args {
    color: var(--code-args-color);
}

.string {
    color: var(--code-string-color);
}

.comment, .keyword, .type,
.method, .args, .string {
    font-size: 14px;
    font-weight: var(--code-font-weight);
}

.code-link {
    color: var(--code-link-color);
    font-family: var(--code-font-family);
    font-size: 14px;
    font-weight: var(--code-font-weight);
}

.value-changed {
    font-size: 14px;
    font-family: var(--code-font-family);
    color: #F00;
}

#main-doc {
    max-width: 90%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.under-construction {
    border: 3px solid black;
    background-color: #FED934;
    border-radius: 12px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: rotate(3deg);
}

.under-construction p {
    font-size: 20px;
    margin: 10px;
    transform: rotate(-3deg);
}

.play-button {
    display: inline-block;
    position: relative;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #1E7C1E;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.play-button-light-fill {
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -11px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #DAE4DD;
    vertical-align: middle;
}

.stop-button {
    display: inline-block;
    width: 11px;
    height: 12px;
    background-color: #CC434D;
    border: 1px solid #C00A16;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: -1px;
}

.next-button-triangle {
    display: inline-block;
    position: relative;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #6FB76F;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 6px;
    margin-bottom: 2px;
}

.next-button-bar {
    display: inline-block;
    position: absolute;
    top: -6px;
    left: 2px;
    width: 1px;
    height: 12px;
    background-color: #6FB76F;
    vertical-align: middle;
}

.red-dot {
    display: inline-block;
    position: relative;
    height: 12px;
    width: 12px;
    background-color: #C55159;
    border: 1px solid #F05A64;
    border-radius: 6px;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.white-cross {
    color: #FFF;
}

.yellow-arrow-point {
    display: inline-block;
    position: relative;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 9px solid #1E1E1E;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 2px;
    margin-bottom: 2px;
    z-index: 10;
}

.yellow-arrow-point-fill {
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -8px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 5px solid #FFDB80;
    vertical-align: middle;
    z-index: 10;
}

.yellow-arrow-tail {
    display: inline-block;
    position: absolute;
    top: -4px;
    left: -14px;
    width: 8px;
    height: 8px;
    background-color: #FFDB80;
    border-top: 1px solid #1E1E1E;
    border-bottom: 1px solid #1E1E1E;
    border-left: 1px solid #1E1E1E;
    border-right: 3px solid #FFDB80;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: -1px;
    z-index: 5;
}

.node-arrow {
    display: inline-block;
    position: relative;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 4px solid #414141;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 5px;
    margin-bottom: 2px;
    transform: rotate(45deg);
}

/* project requirement - technical Documentation page should use at least one media query */
@media only screen and (min-width: 800px) {


    body {
        /* make vertical scroll bar always visible */
        overflow-y:scroll;
    }

    /* project requirement - on desktop navbar should be on left side of screen and always visible */
    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        max-height: 100%;
        width: 300px;
        z-index: 99;
        border-right: 3px solid #aaa;
    }

    #navbar ul {
        max-height: 90%;
        overflow: auto;
        height: 100%;
        margin-bottom: 120px;
        border: 1px solid #ccc;
    }

    .nav-link {
        font-size: 14px;
    }

    #main-doc {
        margin-top: 30px;
    }

    .main-section {
        margin-bottom: 30px;
    }

    .main-section article {
        margin-left: 18px;
    }

    .main-section li {
        margin: 20px 40px;
    }

    .main-section header {
        margin-bottom: 10px;
    }

    .back-to-top {
        display: none;
    }

    pre {
        padding: 10px 15px;
        max-height: 800px;
        margin-right: 20px;
        max-width: 700px;
    }

    pre code {
        max-height: 800px;
        width: auto;
        max-width: 10px;
    }

    code {
        font-size: 14px;
    }

    #main-doc {
        height: 100%;
        margin-left: 320px;
        margin-right: 20px;
        padding-bottom: 200px;

        width: auto;
    }

    .four-column {
        display: flex;
        max-width: 1100px;
        flex-wrap: nowrap;
    }

    .four-column div {
        flex-basis: calc(25%);
    }
}

@media only screen and (min-width: 1400px) {

    h1 {
        font-size: 28px;
        font-weight: normal;
    }

    pre {
        max-width: 860px;
    }

    h2 {
        font-size: 24px;
    }
}